name: ErfanGSI-build

on:
  workflow_dispatch:
    inputs:
      ROM_URL:
        description: 'Direct link/直链'
        required: true
        default: 'https://mirrorbits.lineageos.org/full/sagit/20230302/lineage-20.0-20230302-nightly-sagit-signed.zip'
      REPACK_NAME:
        description: 'Compressed name/打包名称'
        required: true
        default: 'TEST.7z'
      ROM_TYPE:
        description: 'ROM type/ROM 类型'
        required: true
        default: 'Generic'
jobs:
  Build_tosasitill_0202:
    runs-on: ubuntu-20.04

    steps:
      - name: 获取源代码
        uses: actions/checkout@main
        with: 
          path: ErfanGSIs

      - name: 获取变量
        run: |
          echo "BUILD_TIME=$(date +%s | md5sum | awk '{print substr($1,1,10)}')" >> $GITHUB_ENV

      - name: 配置环境‌‌
        run: |
          sudo apt install -y git wget git gzip unzip curl axel aria2 zstd rename p7zip-full pigz

      - name: 获取 ErfanGSI 工具
        uses: actions/checkout@main
        with:
          repository: tosasitill/erfanSGSI
          path: ErfanGSIs

      - name: 更换 777 权限
        run: |
          sudo chmod 777 -R $GITHUB_WORKSPACE/ErfanGSIs

      - name: 修复意外退出
        run: |
              sed -i 's/\|\| exit 1//g' ErfanGSIs/url2GSI.sh
              sed -i 's/exit 1//g' ErfanGSIs/url2GSI.sh

      - name: 建立并配置 ErfanGSI 工具所需环境
        run: |
          sudo sed -i 's/USE_MIRROR_FOR_PIP\=true/USE_MIRROR_FOR_PIP\=false/' $GITHUB_WORKSPACE/ErfanGSIs/setup.sh
          sudo bash $GITHUB_WORKSPACE/ErfanGSIs/setup.sh
          sudo apt-get -y --purge remove "adoptopenjdk-11-hotspot"
          java -version
          pip3 install aligo

      - name: 下载 ROM 并制作 GSI
        run: |
          cd ${{ github.workspace }}/ErfanGSIs/
          sudo bash ./url2GSI.sh --ab ${{ github.event.inputs.ROM_URL }} ${{ github.event.inputs.ROM_TYPE }}
          
      - name: 压缩 GSI
        if: ${{ github.event.inputs.ALI }} != '1'
        run: |
          cd $GITHUB_WORKSPACE/ErfanGSIs
          pwd
          7za a -mmt16 -t7z -r tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }} output/*
          ls "tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }}"
          mkdir upload_ab
          ls upload_ab
          if [ $(ls -l tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }} | awk '{print $5}') -gt 2147483647 ]; then tar cvzpf - tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }} | split -d -b 1024m - upload_ab/tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }}; else mv tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }} upload_ab/tosasitillGSI0202_${{ github.event.inputs.REPACK_NAME }}; fi
          echo "BUILD_INFO=$(cat ${{ github.workspace }}/ErfanGSIs/output/build_info.txt)" >> $GITHUB_ENV
      - name: Send Telegram Notification
        run: |
          message="构建成功！
          \n${{ env.BUILD_INFO }}"
          curl -s -X POST https://api.telegram.org/bot6104379687:AAFOtHFwo0NSh0pYP1zAa92aacDYqSUAdeQ/sendMessage \
            -d chat_id=1214932938 \
            -d text="$message"
            
      - name: Send file to Telegram chat
        env:
          CHAT_ID: 1214932938
        run: |
          curl -s -X POST https://api.telegram.org/bot6104379687:AAFOtHFwo0NSh0pYP1zAa92aacDYqSUAdeQ/sendMessage \
            -d parse_mode="Markdown" \
            -d chat_id="${{ env.CHAT_ID }}" \
            -d text="构建成功！" \
            -d disable_web_page_preview=true
          curl -F chat_id=${{ env.CHAT_ID }} -F document=@${{ github.workspace }}/ErfanGSIs/output/build_info.txt https://api.telegram.org/bot6104379687:AAFOtHFwo0NSh0pYP1zAa92aacDYqSUAdeQ/sendDocument
            
      - name: 上传至 Github Releases
        if: ${{ github.event.inputs.ALI }} != '1'
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "${{ github.workspace }}/ErfanGSIs/upload_ab/*"
          tag: "${{ github.event.inputs.REPACK_NAME }}_${{ env.BUILD_TIME }}"
          bodyFile: "${{ github.workspace }}/ErfanGSIs/output/build_info.txt"
          token: ${{ secrets.GITHUB_TOKEN }}
